body{
    padding: 100px;
}
.submit-area{
    margin-top: 50px;
    padding: 40px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;

}
#transaction-area{
    display: none;
}
.diposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.blance{
    background-color: orange;
}
.status{
    margin:0 20px;
    padding: 20px;
    border-radius: 10px;
    color: white;
  
}